
test_bankrupt_clear: disabled # JSON format mismatch
test_bankrupt_enter: disabled # JSON format mismatch
test_bankrupt_no: disabled # JSON format mismatch
test_barrier_go: disabled # JSON format mismatch
test_barrier_invalid: disabled # JSON format mismatch
test_barrier_special: disabled # JSON format mismatch
test_bomb_alot: disabled # JSON format mismatch
test_buff_update_god_2: disabled # God system tests disabled due to randomness
test_buy_place1: active
test_buy_place10: active
test_buy_place11: active
test_buy_place12: active
test_buy_place13: active
test_buy_place15: active
test_buy_place16: active
test_buy_place17: active
test_buy_place18: active
test_buy_place19: active
test_buy_place2: active
test_buy_place20: active
test_buy_place21: active
test_buy_place22: active
test_buy_place23: active
test_buy_place24: active
test_buy_place25: active
test_buy_place26: active
test_buy_place27: active
test_buy_place29: active
test_buy_place3: active
test_buy_place30: active
test_buy_place31: active
test_buy_place32: active
test_buy_place33: active
test_buy_place34: active
test_buy_place36: active
test_buy_place37: active
test_buy_place38: active
test_buy_place39: active
test_buy_place4: active
test_buy_place40: active
test_buy_place41: active
test_buy_place42: active
test_buy_place43: active
test_buy_place44: active
test_buy_place45: active
test_buy_place46: active
test_buy_place47: active
test_buy_place48: active
test_buy_place5: active
test_buy_place50: active
test_buy_place51: active
test_buy_place52: active
test_buy_place53: active
test_buy_place54: active
test_buy_place55: active
test_buy_place56: active
test_buy_place57: active
test_buy_place58: active
test_buy_place59: active
test_buy_place6: active
test_buy_place60: active
test_buy_place61: active
test_buy_place62: active
test_buy_place7: active
test_buy_place8: active
test_buy_place9: active
test_buy_props1: disabled # JSON format mismatch
test_buy_props2: disabled # JSON format mismatch
test_buy_props3: disabled # JSON format mismatch
test_buy_simple: disabled # JSON format mismatch
test_credit1: disabled # JSON format mismatch
test_credit2: disabled # JSON format mismatch
test_credit3: disabled # JSON format mismatch
test_credit4: disabled # JSON format mismatch
test_credit5: disabled # JSON format mismatch
test_credit6: disabled # JSON format mismatch
test_credit7: disabled # JSON format mismatch
test_dump_3: disabled # JSON format mismatch
test_dump_4: disabled # JSON format mismatch
test_empty: disabled # Invalid input format
test_extreme_002: active
test_extreme_005: active
test_gift_1: disabled # JSON format mismatch
test_gift_2: disabled # JSON format mismatch
test_gift_3: disabled # JSON format mismatch
test_gift_god_increase: disabled # God system tests disabled due to randomness
test_god_go: disabled # God system tests disabled due to randomness
test_god_increase: disabled # God system tests disabled due to randomness
test_god_obtained: disabled # God system tests disabled due to randomness
test_god_of_treasure: disabled # God system tests disabled due to randomness
test_god_pass: disabled # God system tests disabled due to randomness
test_god_show_up: disabled # God system tests disabled due to randomness
test_god_spawn_0: disabled # God system tests disabled due to randomness
test_god_spawn_10: disabled # God system tests disabled due to randomness
test_god_spawn_11: disabled # God system tests disabled due to randomness
test_god_spawn_12: disabled # God system tests disabled due to randomness
test_god_spawn_13: disabled # God system tests disabled due to randomness
test_god_spawn_14: disabled # God system tests disabled due to randomness
test_god_spawn_15: disabled # God system tests disabled due to randomness
test_god_spawn_16: disabled # God system tests disabled due to randomness
test_god_spawn_17: disabled # God system tests disabled due to randomness
test_god_spawn_18: disabled # God system tests disabled due to randomness
test_god_spawn_19: disabled # God system tests disabled due to randomness
test_god_spawn_20: disabled # God system tests disabled due to randomness
test_god_spawn_21: disabled # God system tests disabled due to randomness
test_god_spawn_22: disabled # God system tests disabled due to randomness
test_god_spawn_23: disabled # God system tests disabled due to randomness
test_god_spawn_24: disabled # God system tests disabled due to randomness
test_god_spawn_25: disabled # God system tests disabled due to randomness
test_god_spawn_26: disabled # God system tests disabled due to randomness
test_god_spawn_27: disabled # God system tests disabled due to randomness
test_god_spawn_29: disabled # God system tests disabled due to randomness
test_god_spawn_30: disabled # God system tests disabled due to randomness
test_god_spawn_31: disabled # God system tests disabled due to randomness
test_god_spawn_32: disabled # God system tests disabled due to randomness
test_god_spawn_33: disabled # God system tests disabled due to randomness
test_god_spawn_34: disabled # God system tests disabled due to randomness
test_god_spawn_36: disabled # God system tests disabled due to randomness
test_god_spawn_37: disabled # God system tests disabled due to randomness
test_god_spawn_38: disabled # God system tests disabled due to randomness
test_god_spawn_39: disabled # God system tests disabled due to randomness
test_god_spawn_4: disabled # God system tests disabled due to randomness
test_god_spawn_40: disabled # God system tests disabled due to randomness
test_god_spawn_41: disabled # God system tests disabled due to randomness
test_god_spawn_42: disabled # God system tests disabled due to randomness
test_god_spawn_43: disabled # God system tests disabled due to randomness
test_god_spawn_44: disabled # God system tests disabled due to randomness
test_god_spawn_45: disabled # God system tests disabled due to randomness
test_god_spawn_46: disabled # God system tests disabled due to randomness
test_god_spawn_47: disabled # God system tests disabled due to randomness
test_god_spawn_48: disabled # God system tests disabled due to randomness
test_god_spawn_49: disabled # God system tests disabled due to randomness
test_god_spawn_5: disabled # God system tests disabled due to randomness
test_god_spawn_50: disabled # God system tests disabled due to randomness
test_god_spawn_51: disabled # God system tests disabled due to randomness
test_god_spawn_52: disabled # God system tests disabled due to randomness
test_god_spawn_53: disabled # God system tests disabled due to randomness
test_god_spawn_54: disabled # God system tests disabled due to randomness
test_god_spawn_55: disabled # God system tests disabled due to randomness
test_god_spawn_56: disabled # God system tests disabled due to randomness
test_god_spawn_57: disabled # God system tests disabled due to randomness
test_god_spawn_58: disabled # God system tests disabled due to randomness
test_god_spawn_59: disabled # God system tests disabled due to randomness
test_god_spawn_6: disabled # God system tests disabled due to randomness
test_god_spawn_60: disabled # God system tests disabled due to randomness
test_god_spawn_61: disabled # God system tests disabled due to randomness
test_god_spawn_62: disabled # God system tests disabled due to randomness
test_god_spawn_63: disabled # God system tests disabled due to randomness
test_god_spawn_64: disabled # God system tests disabled due to randomness
test_god_spawn_65: disabled # God system tests disabled due to randomness
test_god_spawn_66: disabled # God system tests disabled due to randomness
test_god_spawn_67: disabled # God system tests disabled due to randomness
test_god_spawn_68: disabled # God system tests disabled due to randomness
test_god_spawn_7: disabled # God system tests disabled due to randomness
test_god_spawn_8: disabled # God system tests disabled due to randomness
test_god_spawn_9: disabled # God system tests disabled due to randomness
test_god_vanish: disabled # God system tests disabled due to randomness
test_initial_char: disabled # JSON format mismatch
test_initial_char_invalid: disabled # JSON format mismatch
test_initial_fund: disabled # JSON format mismatch
test_initial_fund_invalid: disabled # JSON format mismatch
test_input_001: disabled # Invalid input format
test_input_002: disabled # JSON format mismatch
test_input_003: disabled # JSON format mismatch
test_next_turnaround: disabled # JSON format mismatch
test_park: active
test_preset: active
test_preset_nowplayer: disabled # JSON format mismatch
test_robot_clear: disabled # JSON format mismatch
test_sell_1: disabled # JSON format mismatch
test_sell_2: disabled # JSON format mismatch
test_step_1: disabled # JSON format mismatch
test_step_10: disabled # JSON format mismatch
test_step_3: disabled # JSON format mismatch
test_step_70: disabled # JSON format mismatch
test_step_mix: disabled # JSON format mismatch
test_update_place10_level0: active
test_update_place10_level1: active
test_update_place10_level2: active
test_update_place10_level3: active
test_update_place11_level0: active
test_update_place11_level1: active
test_update_place11_level2: active
test_update_place11_level3: active
test_update_place12_level0: active
test_update_place12_level1: active
test_update_place12_level2: active
test_update_place12_level3: active
test_update_place13_level0: active
test_update_place13_level1: active
test_update_place13_level2: active
test_update_place13_level3: active
test_update_place15_level0: active
test_update_place15_level1: active
test_update_place15_level2: active
test_update_place15_level3: active
test_update_place16_level0: active
test_update_place16_level1: active
test_update_place16_level2: active
test_update_place16_level3: active
test_update_place17_level0: active
test_update_place17_level1: active
test_update_place17_level2: active
test_update_place17_level3: active
test_update_place18_level0: active
test_update_place18_level1: active
test_update_place18_level2: active
test_update_place18_level3: active
test_update_place19_level0: active
test_update_place19_level1: active
test_update_place19_level2: active
test_update_place19_level3: active
test_update_place1_level0: active
test_update_place1_level1: active
test_update_place1_level2: active
test_update_place1_level3: active
test_update_place20_level0: active
test_update_place20_level1: active
test_update_place20_level2: active
test_update_place20_level3: active
test_update_place21_level0: active
test_update_place21_level1: active
test_update_place21_level2: active
test_update_place21_level3: active
test_update_place22_level0: active
test_update_place22_level1: active
test_update_place22_level2: active
test_update_place22_level3: active
test_update_place23_level0: active
test_update_place23_level1: active
test_update_place23_level2: active
test_update_place23_level3: active
test_update_place24_level0: active
test_update_place24_level1: active
test_update_place24_level2: active
test_update_place24_level3: active
test_update_place25_level0: active
test_update_place25_level1: active
test_update_place25_level2: active
test_update_place25_level3: active
test_update_place26_level0: active
test_update_place26_level1: active
test_update_place26_level2: active
test_update_place26_level3: active
test_update_place27_level0: active
test_update_place27_level1: active
test_update_place27_level2: active
test_update_place27_level3: active
test_update_place29_level0: active
test_update_place29_level1: active
test_update_place29_level2: active
test_update_place29_level3: active
test_update_place2_level0: active
test_update_place2_level1: active
test_update_place2_level2: active
test_update_place2_level3: active
test_update_place30_level0: active
test_update_place30_level1: active
test_update_place30_level2: active
test_update_place30_level3: active
test_update_place31_level0: active
test_update_place31_level1: active
test_update_place31_level2: active
test_update_place31_level3: active
test_update_place32_level0: active
test_update_place32_level1: active
test_update_place32_level2: active
test_update_place32_level3: active
test_update_place33_level0: active
test_update_place33_level1: active
test_update_place33_level2: active
test_update_place33_level3: active
test_update_place34_level0: active
test_update_place34_level1: active
test_update_place34_level2: active
test_update_place34_level3: active
test_update_place36_level0: active
test_update_place36_level1: active
test_update_place36_level2: active
test_update_place36_level3: active
test_update_place37_level0: active
test_update_place37_level1: active
test_update_place37_level2: active
test_update_place37_level3: active
test_update_place38_level0: active
test_update_place38_level1: active
test_update_place38_level2: active
test_update_place38_level3: active
test_update_place39_level0: active
test_update_place39_level1: active
test_update_place39_level2: active
test_update_place39_level3: active
test_update_place3_level0: active
test_update_place3_level1: active
test_update_place3_level2: active
test_update_place3_level3: active
test_update_place40_level0: active
test_update_place40_level1: active
test_update_place40_level2: active
test_update_place40_level3: active
test_update_place41_level0: active
test_update_place41_level1: active
test_update_place41_level2: active
test_update_place41_level3: active
test_update_place42_level0: active
test_update_place42_level1: active
test_update_place42_level2: active
test_update_place42_level3: active
test_update_place43_level0: active
test_update_place43_level1: active
test_update_place43_level2: active
test_update_place43_level3: active
test_update_place44_level0: active
test_update_place44_level1: active
test_update_place44_level2: active
test_update_place44_level3: active
test_update_place45_level0: active
test_update_place45_level1: active
test_update_place45_level2: active
test_update_place45_level3: active
test_update_place46_level0: active
test_update_place46_level1: active
test_update_place46_level2: active
test_update_place46_level3: active
test_update_place47_level0: active
test_update_place47_level1: active
test_update_place47_level2: active
test_update_place47_level3: active
test_update_place48_level0: active
test_update_place48_level1: active
test_update_place48_level2: active
test_update_place48_level3: active
test_update_place4_level0: active
test_update_place4_level1: active
test_update_place4_level2: active
test_update_place4_level3: active
test_update_place50_level0: active
test_update_place50_level1: active
test_update_place50_level2: active
test_update_place50_level3: active
test_update_place51_level0: active
test_update_place51_level1: active
test_update_place51_level2: active
test_update_place51_level3: active
test_update_place52_level0: active
test_update_place52_level1: active
test_update_place52_level2: active
test_update_place52_level3: active
test_update_place53_level0: active
test_update_place53_level1: active
test_update_place53_level2: active
test_update_place53_level3: active
test_update_place54_level0: active
test_update_place54_level1: active
test_update_place54_level2: active
test_update_place54_level3: active
test_update_place55_level0: active
test_update_place55_level1: active
test_update_place55_level2: active
test_update_place55_level3: active
test_update_place56_level0: active
test_update_place56_level1: active
test_update_place56_level2: active
test_update_place56_level3: active
test_update_place57_level0: active
test_update_place57_level1: active
test_update_place57_level2: active
test_update_place57_level3: active
test_update_place58_level0: active
test_update_place58_level1: active
test_update_place58_level2: active
test_update_place58_level3: active
test_update_place59_level0: active
test_update_place59_level1: active
test_update_place59_level2: active
test_update_place59_level3: active
test_update_place5_level0: active
test_update_place5_level1: active
test_update_place5_level2: active
test_update_place5_level3: active
test_update_place60_level0: active
test_update_place60_level1: active
test_update_place60_level2: active
test_update_place60_level3: active
test_update_place61_level0: active
test_update_place61_level1: active
test_update_place61_level2: active
test_update_place61_level3: active
test_update_place62_level0: active
test_update_place62_level1: active
test_update_place62_level2: active
test_update_place62_level3: active
test_update_place6_level0: active
test_update_place6_level1: active
test_update_place6_level2: active
test_update_place6_level3: active
test_update_place7_level0: active
test_update_place7_level1: active
test_update_place7_level2: active
test_update_place7_level3: active
test_update_place8_level0: active
test_update_place8_level1: active
test_update_place8_level2: active
test_update_place8_level3: active
test_update_place9_level0: active
test_update_place9_level1: active
test_update_place9_level2: active
test_update_place9_level3: active
test_upgrade: disabled # JSON format mismatch
test_win: disabled # JSON format mismatch
