# 测试状态配置文件
# 用于标记哪些测试是活跃的、待实现的或跳过的

# 测试状态说明:
# active: 活跃测试，应该通过
# pending: 待实现功能，暂时跳过
# disabled: 已经禁用的测试
# wip: 正在开发中的功能



test_auto_001: disabled
test_auto_002: disabled
test_auto_003: disabled
test_auto_004: disabled
test_auto_005: disabled
test_auto_006: disabled
test_auto_007: disabled
test_auto_008: disabled
test_auto_009: disabled
test_auto_010: disabled
test_auto_011: disabled
test_auto_012: disabled
test_auto_015: disabled
test_auto_017: disabled
test_auto_018: disabled
test_auto_020: disabled
test_auto_021: disabled
test_auto_022: disabled
test_auto_023: disabled
test_auto_024: disabled
test_auto_025: disabled
test_extreme_001: disabled
test_extreme_003: disabled
test_extreme_004: disabled
test_house_001: active
test_house_002: active
test_house_003: active
test_house_004: active
test_house_005: active
test_house_006: active
test_house_007: active
test_house_008: active
test_house_009: active
test_house_010: active
test_house_011: active
test_house_012: active
test_house_013: active
test_house_014: active
test_house_015: active
test_house_016: active
test_house_017: active
test_house_018: active
test_house_019: active
test_house_020: active
test_house_021: active
test_house_022: active
test_house_023: active
test_house_024: active
test_house_025: active
test_house_026: active
test_house_027: active
test_house_028: active
test_house_029: active
test_house_030: active
test_input_001: disabled
test_input_002: disabled
test_input_002a: disabled
test_input_002b: disabled
test_input_002c: disabled
test_input_002d: disabled
test_input_002e: disabled
test_input_002f: disabled
test_input_002g: disabled
test_input_002h: disabled
test_input_002i: disabled
test_input_002j: disabled
test_input_002k: disabled
test_input_002l: disabled
test_input_002m: disabled
test_input_002n: disabled
test_input_002o: disabled
test_input_006: disabled
test_input_006a: disabled
test_input_006b: disabled
test_input_006c: disabled
test_input_006d: disabled
test_input_006e: disabled
test_input_006f: disabled
test_input_006g: disabled
test_input_007: disabled
test_input_007a: disabled
test_input_007b: disabled
test_input_007c: disabled
test_input_008: disabled
test_input_009: disabled
test_input_010: disabled
test_input_011: disabled
test_input_012: disabled
test_input_013: disabled
test_interaction_001: disabled
test_interaction_002: disabled
test_interaction_003: disabled
test_interaction_004: disabled
test_interaction_007: disabled
test_interaction_007a: disabled
test_interaction_007b: disabled
test_interaction_008: disabled
test_interaction_009: disabled
test_interaction_011: disabled
test_interaction_012: disabled
test_interaction_013: disabled
test_interaction_014: disabled
test_move_001: disabled
test_move_002: disabled
test_move_003: disabled
test_park_001: disabled
test_park_002: disabled
test_park_003: disabled
test_resource_001: disabled
test_resource_003: disabled
test_resource_005: disabled
test_resource_006: disabled
test_resource_007: disabled
test_resource_008: disabled
test_resource_009: disabled
test_special_001: disabled
test_special_002: disabled
test_special_003: disabled
test_special_004: disabled
test_special_005: disabled
test_special_006: disabled
test_startup_001: disabled
test_startup_002: disabled
test_startup_003: disabled
test_startup_004: disabled
test_startup_005: disabled
test_startup_006: disabled
test_startup_007: disabled
test_startup_008: disabled
test_startup_009: disabled
test_startup_010: disabled
test_state_001: disabled
test_state_002: disabled
test_state_003: disabled
test_state_004: disabled
test_state_005: disabled
test_status_001: disabled
test_status_007: disabled
test_stress_001: disabled
test_stress_002: disabled
test_stress_004: disabled
test_turn_001: disabled
test_turn_002: disabled
test_turn_003: disabled
test_turn_004: disabled
test_turn_005: disabled
test_turn_006: disabled
test_turn_007: disabled
test_turn_008: disabled
test_turn_009: disabled
test_turn_010: disabled
test_turn_011: disabled
test_turn_012: disabled
test_turn_013: disabled
test_turn_014: disabled
test_turn_015: disabled
test_turn_016: disabled
test_turn_017: disabled
test_turn_018: disabled
test_turn_019: disabled
test_turn_020: disabled
test_win_001: disabled
test_win_002: disabled
test_win_003: disabled
test_win_004: disabled
test_win_005: disabled
test_win_006: disabled
test_win_007: disabled
test_win_008: disabled
test_win_009: disabled
